/* Colors used: 

Text color (Rich Black): #02040F 
Background color (Off White): #FAF9F6
Primary color (Blue): #22223B
Secondary color (Orange): #f28500*/


* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Roboto Serif", serif;  
    background-color: #FAF9F6;
    color: #02040F;
}

h1 {    
    font-weight: 700;
    font-size: 24px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
}

span {
    background-color: #22223B;
    opacity: 0.7;
    border-radius: 3px;    
    color: #FAF9F6;
    padding: 1px;
    font-weight: 700;
}

h4 {
    font-family: "Lora", serif; 
    font-weight: 700;
    font-size: 15px; 
}

a {
    text-decoration: none;
    color: #22223B;    
}

/* Navbar */

.page-header {    
    background-color: #22223B;
    color: #FAF9F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px;  
    margin-bottom: 50px;

}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;        
}

.page-header .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }

.navigation-list {
    list-style-type: none;    
}  

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

ul.navigation-list li:first-child {
    margin-left: 0; 
}

li> a {
    color: #FAF9F6;
    text-decoration: none;
}

a:visited {
    color: #AD5F00;    
}

a:hover {       
    text-decoration: none;
    font-weight: 700;     
}

a:focus {       
    text-decoration: none;
    font-weight: 700;     
}

a:active {
    color: #22223B;
    font-weight: 700;
}

#logo {
    font-size: 32px;
    font-weight: 600;
    color: #FAF9F6;    
    font-family: "Dancing Script", cursive;
} 

/* Navbar Top and Bottom borders go out */

.navigation-list__item {
    position: relative;
    display: inline-block;
}

.navigation-list__item:before {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FAF9F6;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-list__item:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FAF9F6;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-list__item:before {
    top: 0px;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px); 
}

.navigation-list__item:after {
    bottom: 0px;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}

.navigation-list__item:hover:before,
.navigation-list__item:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
} 

/* Home */

.profile {
    max-width: 700px;
    margin: 0 auto;      
    display: -webkit-box;      
    display: -ms-flexbox;      
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.profile__portrait {    
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    
}

/* About */

.page-content {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;  
}

/* Animation for svg */


.window {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes color-change {
    0% {
        fill: #f7dc8c;
      }
      50% {
        fill: #e3e772;
      }
      100% {
        fill: #f76414;
      }
}


@keyframes color-change {
    0% {
        fill: #f7dc8c;
      }
      50% {
        fill: #e3e772;
      }
      100% {
        fill: #f76414;
      }
}


.cloud {     
    -webkit-animation: 20s cloud-move infinite alternate linear;     
            animation: 20s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, -75px);
                transform: translate(0, -75px);
      }
      to {
        -webkit-transform: translate(100px, -75px);
                transform: translate(100px, -75px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, -75px);
                transform: translate(0, -75px);
      }
      to {
        -webkit-transform: translate(100px, -75px);
                transform: translate(100px, -75px);
    }
}

.cloud-reverse {    
    -webkit-animation: 20s cloud-reverse-move infinite alternate linear;    
            animation: 20s cloud-reverse-move infinite alternate linear;
}

@-webkit-keyframes cloud-reverse-move {
    from {
        -webkit-transform: translate(10px, -60px);
                transform: translate(10px, -60px);
      }
      to {
        -webkit-transform: translate(0, -60px);
                transform: translate(0, -60px);
    }
}

@keyframes cloud-reverse-move {
    from {
        -webkit-transform: translate(10px, -60px);
                transform: translate(10px, -60px);
      }
      to {
        -webkit-transform: translate(0, -60px);
                transform: translate(0, -60px);
    }
}

table {
    padding: 10px;
    line-height: 2;  
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;   
}

table th {
    font-size: 20px;
    font-weight: 600;
    text-align: center;     
    color: #AD5F00;
}

table tr {
    border-bottom: 1px solid #02040F;
}

table> thead, tbody {    
    text-align: left;  
}

/* Contact */

.project-list-title {
    text-align: center;
}


.project-list__item {
    display: inline-block;
    width: 33%;
    padding: 10px;
}

.project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 10px;
    margin: 10px;
}

.project-list__item {
    background-color: #d3d3d3;
    width: auto;
    min-height: auto;
    margin: 0;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.project-list__item:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    cursor: pointer;
    background-color: #5A5A5A;
}

.contact-form-container {
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 50px;    
    padding: 20px; 
    border: 1px solid #d3d3d3; 
    border-radius: 10px; 
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 

#contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.standard-label {
    margin-bottom: 8px;
}

input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#contact-message {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #22223B;
    color: #FAF9F6;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);    
    -webkit-transition: opacity 0.9s;    
    -o-transition: opacity 0.9s;    
    transition: opacity 0.9s;
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #22223B;
    color: #FAF9F6;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);    
    -webkit-transition: opacity 0.9s;    
    -o-transition: opacity 0.9s;    
    transition: opacity 0.9s;
}

#contact-message {
    background-color: #02040F;
}

#contact-message:hover,
#contact-message:focus,
.button:hover,
.button:focus {
    opacity: 0.8;
    cursor: pointer;
}

main> #contact-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contact-details> li>a {
    color: #22223B;    
}

/* Footer */

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

/* Responsive styles */

@media all and (max-width: 500px) {
    
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;   
    }     

    .page-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;        
        height: 140px;              
    }

    ul.navigation-list {
        padding: 0;                
    }    

    .profile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
    }

    .profile__portrait {
        margin: 0 auto;
        width: 150px;
    }

    .profile__text-container {
        text-align: center;
    }

    .page-content {        
        font-size: 16px;
        text-align: center;        
    }

    .svg-container {
        width: 100%;    
        height: auto; 
        overflow: auto;
        margin: 0 auto;
        margin-bottom: 20px;  
    }
    
    svg {
        width: 100%;
        height: 100%;
        display: block;    
    } 
    
    .page-content__cv-container {
       margin-top: 10px; 
    }
    
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr;
    } 
    
}

@media all and (max-width: 750px) {
    .project-list {        
        grid-gap: 10px;
    }
    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }     
    
}



















